body,
html {
  margin: 0;
  padding: 0;
}

.clock {
  background-color: #020617;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock--face {
  border: 3px solid #f8fafc;
  border-radius: 50%;
  height: 30rem;
  width: 30rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.hand {
  background-color: #f1f5f9;
  width: 8px;
  height: 50%;
  transform-origin: center bottom;

  /* starting point */
  transform: rotate(0deg);
  position: absolute;
}

.hand--min {
  width: 5px;
}

.hand--seconds {
  background-color: #b91c1c;
  width: 3px;
}